<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="jobToolkit" type="JobToolkit.Core.Configuration.JobToolkitConfiguration, JobToolkit.Core"/>
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

  <connectionStrings>
    <clear/>
    <add name="sqlConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=JobToolkit;Integrated Security=True" providerName="System.Data.ProviderName"/>
    <add name="oracleConnection" connectionString="User ID=jobtoolkit;Password=jobtoolkit;Data Source=XE;Persist Security Info=True;enlist=true" providerName="System.Data.ProviderName"/>
  </connectionStrings>

  <jobToolkit defaultManager="defaultManager" defaultServer="defaultServer" defaultRepository="cacheRepository">
    <managers>
      <add name="defaultManager" type="JobToolkit.Core.JobManager" repository=""/>
    </managers>
    <servers>
      <add name="defaultServer" type="JobToolkit.Core.JobServer" repository=""/>
    </servers>
    <repositories>
      <add name="cacheRepository" type="JobToolkit.Core.CacheJobRepository" connectionString=""/>
      <add name="sqlRepository" type="JobToolkit.Repository.SqlServer.SqlJobRepository, JobToolkit.Repository.SqlServer" connectionString="sqlConnection"/>
      <add name="oracleRepository" type="JobToolkit.Repository.Oracle.OracleJobRepository, JobToolkit.Repository.Oracle" connectionString="oracleConnection"/>
    </repositories>
  </jobToolkit>
</configuration>
